<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title></title>
    <link
      rel="stylesheet"
      href="<%= BASE_URL %>resource/style/loading.css"
    />
    <script src="<%= BASE_URL %>resource/browser/page/script.js"></script>
    <script src="<%= BASE_URL %>config.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="app-loading">
        <div class="app-loading-wrap">
          <img
            src="/resource/img/logo.png"
            class="app-loading-logo"
            alt="Logo"
          />
          <div class="app-loading-dots">
            <span class="dot dot-spin"><i></i><i></i><i></i><i></i></span>
          </div>
          <div class="app-loading-title"></div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="/src/main.ts"
    ></script>
  </body>
</html>
