body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 13px;
}
.down {
  width: 900px;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  color: #409eff;
}
ul {
  list-style-type: none;
  display: table;
  padding: 0px;
  margin: 0px auto;
  width: 450px;
  margin-top: 40px;
}
li {
  line-height: 26px;
  padding: 0px 10px;
  float: left;
  width: 200px;
}
img {
  width: 64px;
  height: 64px;
}
.browser-name {
  font-size: 15px;
}
.browser-down {
  font-size: 16px;
}
a {
  color: #409eff;
  margin: 0px 5px;
  text-decoration: none;
}
